.timer {
    width: 300px;
    height: 150px;
    border-radius: 15px;
    background: rgba(30, 30, 30, 1);
    box-sizing: border-box;
    padding: 1rem;
}

.timer__display {
    width: 100%;
    height: 70%;
    background: rgb(27, 112, 46);
    box-shadow: 3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 3rem;
}

.hh::after,
.mm::after {
    content: ":";
    position: relative;
    left: 14px;
    top: -5px;
}

.timer__panel {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer__panel button {
    width: 100%;
    height: 80%;
    background: black;
    border: none;
    border-radius: 15px;
    color: navajowhite;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}